NEXT_PUBLIC_SITE_URL="https://musicapp-lime.vercel.app"
SONARA_GITHUB_OWNER="safe-rill"
SONARA_GITHUB_REPO="sonara-music"
NEXT_PUBLIC_DEVELOPER_GITHUB_URL="https://github.com/safe-rill"
NEXT_PUBLIC_DEVELOPER_INSTAGRAM_URL="https://instagram.com/safe_rill"
